.wrapper
  = render "shared/side_bar"
  = render "shared/main_chat"



-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

-# -# パラメーターを指定することで部分テンプレートの使い回しができます
-# = render 'template', group: @group
-# = render 'template', group: @gp
-# = render 'template', group: data
-# -# collectionで渡すと勝手にeachして、asで指定した変数に入れてくれます
-# -# 変数名の指定はシンボルでも""でも可
-# = render partial: 'template', collection: @group, as: :group
-# = render partial: 'template', collection: @group, as: 'group'
-# = render partial: 'template', collection: @gp, as: :group

